.logo {
  justify-content: space-around;
  flex-direction: row;
  display: flex;
}

h1 {
  font-size: 12rem;
  font-weight: bold;
}

.under-construction {
  font-weight: 300;
  font-size: 1rem;
  margin: 0 !important;
}

p {
  margin: 0;
  letter-spacing: 0.3rem;
}
