.logo {
  justify-content: space-around;
  flex-direction: row;
  display: flex;
}

img {
  width: 25%;
  margin: 6rem 0 10rem;
}

.under-construction {
  font-weight: 300;
  font-size: 1rem;
  margin: 0 !important;
}

p {
  margin: 0;
  letter-spacing: 0.3rem;
}
